* {
  padding: auto;
  margin: 0;
  font-family: 'Carrois Gothic SC', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://raw.githubusercontent.com/moecory11/portfolio/main/assets/images/color-background.png");
}
.title {
  width: 20px;
  border-radius: 4px;
  font-size: 37px;
  background-color: #04dabb;
  color: #fce96a;
  border: 2px solid #f230b6;
  margin-left: 10px;
  padding-left: 15px;
  font-weight: bold;
}
.header {
  display: flex;
  padding: 10px;
  color: cyan;
}
.header nav {
  align-content: space-around;
  justify-content: center;
  font-size: large;
}
.header nav ul li {
  float: right;
  list-style-type: none;
}
.header nav ul li a {
  padding: 5px;
  background-color: #fce96a;
  color: #f230b6;
  border: 2px solid #834dec;
  border-radius: 4px;
  margin: 10px;
  font-weight: bold;
}
.header nav ul li a:hover{
  cursor: pointer;
  background-color: #04dabb;
}
.bckgrd-image {
  border-top: 2px solid #fce96a;
  border-bottom: 2px solid #fce96a;
  padding: 0%;
  margin: 0%;
  height: 150px;
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp2408601.jpg");
  background-size: cover;
  background-position: center;
}
.subtitle {
  border: 2px solid #04dabb;
  border-radius: 4px;
  background-color: white;
  height: 35px;
  font-size: 14px;
  color: #f230b6;
  margin-top: 10px;
  padding-top: 5px;
  font-weight: bold;
}
.me-img {
    border: 2px solid #f230b6;
    border-radius: 4px;
    margin: 9px;
    padding: 5px;
    float: left;
    background-color: white;
}
.intro{
    border: 2px solid #04dabb;
    border-radius: 4px; 
    margin: 10px 5px;
    background-color: white;
}
.about-border{
    border: 2px solid #fce96a;
    border-radius: 4px;
    font-size: 30px;
    padding: 5px;
    margin-top: 3px;
    background-color: white;
}
.work-title {
    border: 2px solid #fe845c;
    border-radius: 4px;
    padding: 5px;
    font-size: 30px;
    background-color: white;
}
.work-box {
    border: 2px solid #f230b6;
    border-radius: 4px;
    padding-top: 8px;
    background-color: white;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  font-size: 17px;
  background-color: #04dabb;
  border: 2px solid #fce96a;
  border-radius: 4px;
  padding: 8px;
  margin: 5px;
  color: black;
}
.contact {
  border: 2px solid #04dabb;
  border-radius: 4px;
  background-color: white;
}
.contact-container {
  color: #04dabb;
  border: 2px solid #fe845c;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  list-style: none;
  background-color: white;
}
.img-border {
    color: #04dabb;
    border: 2px solid #fe845c;
    border-radius: 4px;
}
.link-border {
  color: #04dabb;
  border: 2px solid #04dabb;
  border-radius: 4px;
}
.link-border-2 {
  color: #04dabb;
  border: 2px solid #fce96a;
  border-radius: 4px;
}
.mod-style {
  color: #04dabb#f230b6;
  border: 2px solid ;
  border-radius: 4px;
}